
@{
    ViewData["Title"] = "Acceso Denegado";
}

<div class="container">
    <div class="alert alert-danger" role="alert">
      Acceso Denegado !! <br />
      <strong>Usted No cuenta con los permisos para acceder.</strong>
    </div>

</div>