  @{
        if (@TempData["mensaje_success"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              @TempData["mensaje_success"]
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
           
        }
         if (@TempData["mensaje_error"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              @TempData["mensaje_error"]
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
}
</h1>