@model SistWebVentaMVC.Models.Usuario

@{
    ViewData["Title"] = "Crear";
}

<div class="container">
     @Html.Partial("~/Views/Shared/Mensajes.cshtml")

    <div class="card">
      <div class="card-header">
        Nuevo Usuario
      </div>
      <div class="card-body">
        <form asp-action="Crear" class="row g-3 ">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <div class="col-md-6">
                <label class="form-label">Nombres</label>
                <input asp-for="nombres" class="form-control"  />
                 <span asp-validation-for="nombres" class="text-danger"></span>
              </div>

              <div class="col-md-6">
                <label class="form-label">Apellidos</label>
                <input asp-for="apellidos" class="form-control" />
                <span asp-validation-for="apellidos" class="text-danger"></span>
              </div>

               <div class="col-md-6">
                <label class="form-label">Correo</label>
                 <input asp-for="correo" class="form-control" />
                 <span asp-validation-for="correo" class="text-danger"></span>
              </div>

              <div class="col-md-6">
                <label class="form-label">Genero</label>
                 <select asp-for="genero" class="form-control">
                    <option value='F'>Femenino</option>
                    <option value='M'>Masculino</option>
                </select>
              </div>
      
               <div class="col-md-6">
                <label class="form-label">Fecha Nacimiento</label>
                 <input asp-for="fechaNac" class="form-control" type="date" />
                 <span asp-validation-for="fechaNac" class="text-danger"></span>
              </div>

              <div class="col-md-6">
                <label class="form-label">Sueldo</label>
                 <input asp-for="sueldo" class="form-control" type="number" />
                <span asp-validation-for="sueldo" class="text-danger"></span>
              </div>

               <div class="col-md-6">
                <label class="form-label">Rol</label>
                @Html.DropDownList("id_rol",  (IEnumerable<SelectListItem>)ViewBag.roles,  new { @class = "form-control" })
                <span asp-validation-for="id_rol" class="text-danger"></span>
              </div>

              <div class="col-md-6">
                <label class="form-label">Estado</label>
                @Html.DropDownList("estado",  (IEnumerable<SelectListItem>)ViewBag.estados,  new { @class = "form-control" })
              </div>

            <br />
            <div class="form-group">
                 <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i> Guardar Cambios
                </button>
            </div>
        </form>
        
        <div>
            <a asp-action="Index">Volver atras</a>
        </div>
      </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
